<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("style/bootstrap.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("style/bootstrap-theme.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("style/main.css") }}">
	<script type="text/javascript" src="{{ static_url("script/jquery-1.10.2.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("script/bootstrap.js") }}"></script>
	{% end %}
</head>