{% extends "main.html" %}

{% block content %}


	<form class="form-horizontal" name="f" action=""  method="post">
		

        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type='text' id="username" name='username' placeholder="Username" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
        Don't have an account? <a href="user/register">Click here to register one!</a>
	{% raw xsrf_form_html() %}
	</form>
{% end %}
